.btn {
  @include font-values(600, 14px, 1.5);
  display: inline-flex;
  justify-content: center;
  padding: 9px 20px;

  color: $color-brand;

  background-color: $color-text-secondary;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
