.contacts {
  padding-top: 120px;
  padding-bottom: 122px;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 58px;
    padding-bottom: 65px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1000fr 893fr;
  column-gap: 8.6%;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    column-gap: 4.4%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.contacts__map {
  min-height: 306px;

  @include vp-1023 {
    min-height: 335px;
  }

  @include vp-767 {
    min-height: 316px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  @include vp-767 {
    order: 2;
  }
}

.contacts__description {
  align-self: center;

  @include vp-1023 {
    transform: translateY(-2px);
  }

  @include vp-767 {
    order: 1;
    transform: none;
    margin-bottom: 35px;
  }

  & > p {
    @include font-values(500, 18px, 1.5);
    margin: 0;
    margin-bottom: 32px;

    @include vp-1023 {
      margin-bottom: 28px;
    }
  }
}

.contacts__address-wrapper {
  @include font-values(400, 16px, 1.5);
  font-style: normal;

  display: flex;
  align-items: start;
  column-gap: 10px;
  margin-bottom: 21px;

  & > p {
    margin: 0;
  }

  & > svg {
    flex-shrink: 0;
  }

  &--pin {
    & > svg {
      transform: translateY(1px);

      @include vp-1023 {
        transform: translateY(5px);
      }
    }
  }

  &--tel {
    display: inline-grid;
    grid-template-columns: auto auto;

    svg {
      transform: translateY(2px);
    }

    @include hover {
      color: rgba($color-text, 70%);
    }

    &:focus-visible {
      outline: 2px solid $color-brand;
      border-radius: 4px;
      outline-offset: 3px;
    }
  }
}

.contacts__address-wrapper:last-child {
  margin-bottom: 0;
}
