.custom-toggle {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 30px;

  display: flex;
  width: auto;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;

    display: flex;
    align-items: center;

    cursor: pointer;

    span {
      margin-bottom: 0;
      margin-left: 0;
    }

    @include hover {
      .custom-toggle__icon {
        outline: 1px solid $color-text-secondary;
        border-radius: 4px;
        outline-offset: 1px;
      }
    }
  }

  &--checkbox {
    input[type="checkbox"]:focus-visible + .custom-toggle__icon {
      outline: 1px solid $color-text-secondary;
      border-radius: 4px;
      outline-offset: 1px;
    }

    .custom-toggle__icon {
      position: relative;
      margin-right: 5px;

      width: 18px;
      height: 18px;

      background-color: $color-text-secondary;

      transition: border 0.3s ease;

      flex-shrink: 0;

      @include vp-767 {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 10px;
        height: 6px;

        transform: translate(-50%, -50%);
      }
    }
  }

  &--radio {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 28px;
      height: 28px;

      border: 1px solid #2c39f2;
      border-radius: 50%;

      transition: border 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 20px;
        height: 20px;

        color: rgba(255, 255, 255, 0);

        border-radius: 50%;
        transform: translate(-50%, -50%);

        transition: color 0.3s ease;
      }
    }
  }

  input:checked + .custom-toggle__icon {
    &::before {
      border: 1px solid $color-brand;
      border-top: none;
      border-right: none;
      transform: translate(-4px, -5px) rotate(-45deg);
    }
  }

  &.is-invalid {
    label span {
      color: $color-text-secondary;
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    bottom: -16px;

    font-weight: 400;
    font-size: 10px;
    line-height: 1.3;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
