.intro {
  position: relative;
  padding: 0 95px;
  padding-top: 195px;
  padding-bottom: 50px;

  @include vp-1023 {
    padding: 0;
    padding-top: 208px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-top: 130px;
  }

  h1 {
    @include font-values(700, 54px, 1.222, $color-text-secondary);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    margin-bottom: 12px;

    @include vp-1023 {
      font-size: 50px;
      line-height: 1.22;
      text-shadow: none;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 1.25;
    }
  }

  p {
    @include font-values(400, 20px, 1.2, $color-text-secondary);
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include vp-1023 {
      font-size: 18px;
      line-height: 1.222;
      text-shadow: none;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 1.4;
    }
  }
}
