.main-footer {
  background-color: $color-brand;
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-1023 {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  @include vp-767 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 102px 1fr auto;

  @include vp-1023 {
    grid-template-columns: 55px 1fr auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.main-footer__logo-wrapper {
  @include vp-767 {
    margin-bottom: 10px;
  }
}

.main-footer__logo-link {
  display: block;

  svg {
    display: block;

    @include vp-1023 {
      width: 38px;
    }

    @include vp-767 {
      width: 42px;
    }
  }

  @include hover-focus {
    svg {
      fill: rgba($color-text-secondary, 70%);
    }
  }

  @include active {
    svg {
      color: rgba($color-text-secondary, 50%);
    }
  }

  &:focus-visible {
    outline: none;

    svg {
      border-radius: 4px;
      outline: 1px solid $color-text-secondary;
      outline-offset: 3px;
    }
  }
}

.main-footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;

  @include vp-1023 {
    column-gap: 8px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 10px;
    transform: translateX(-8px);
  }
}

.main-footer__link {
  @include font-values(500, 16px, 1.25, $color-text-secondary);
  display: block;
  padding: 10px 8px;

  @include vp-1023 {
    font-size: 12px;
  }

  @include vp-767 {
    padding: 8.6px 8px;
  }

  @include hover-focus {
    color: rgba($color-text-secondary, 70%);
  }

  @include active {
    color: rgba($color-text-secondary, 50%);
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid $color-text-secondary;
  }
}

.main-footer__list-social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  column-gap: 5px;
  row-gap: 5px;
  transform: translateX(8px);

  @include vp-1023 {
    transform: translate(8px, 2px);
    max-width: 190px;
  }

  @include vp-767 {
    transform: translate(-12px, 0);
  }
}

.main-footer__link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;

  @include vp-1023 {
    width: 32px;
    height: 32px;
  }

  @include hover-focus {
    .main-footer__icon {
      fill: rgba($color-text-secondary, 70%);
    }
  }

  @include active {
    .main-footer__icon {
      fill: rgba($color-text-secondary, 50%);
    }
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid $color-text-secondary;
  }
}

.main-footer__icon {
  @include vp-1023 {
    height: 16px;
  }
}
