.main-header {
  position: relative;
  min-height: 650px;
  background-color: $color-brand;

  @include vp-1023 {
    min-height: 638px;
  }

  @include vp-767 {
    min-height: 500px;
  }
}

.main-header.is-open {
  @include vp-767 {
    padding-top: 30px;

    &::before {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(#002b66, 50%);
      z-index: 1;
    }
  }
}

.main-header__bg-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    object-fit: cover;
    object-position: center 90%;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

    @include vp-1023 {
      filter: none;
    }
  }
}

.main-header__wrapper {
  padding-top: 35px;

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 16px;
  }
}
