.reservation {
  position: relative;
  background-color: $color-bg-secondary;
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-1023 {
    padding-top: 88px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 60px;
    padding-bottom: 65px;
  }
}

.reservation__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  column-gap: 50px;

  @include vp-1023 {
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    padding: 0;
  }
}

.reservation__image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.reservation__content {
  position: relative;
  margin-top: 164px;

  @include vp-1023 {
    margin-top: 0;
    margin-bottom: 52px;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }

  h3 {
    @include font-values(700, 40px, 1.5);
    margin: 0;
    margin-bottom: 7px;

    @include vp-1023 {
      font-size: 34px;
      text-align: center;
      margin-bottom: 4px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 1.3;
      margin-bottom: 12px;
    }
  }

  p {
    @include font-values(400, 18px, 1.5);
    margin: 0;
    width: 350px;

    @include vp-1023 {
      text-align: center;
      margin: 0 auto;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 1.4;
      width: 90%;
      max-width: 350px;
    }
  }
}

.reservation__form {
  position: relative;
  padding: 44px 50px 50px;
  background-color: $color-brand;
  width: 403px;
  flex-shrink: 0;

  @include vp-1023 {
    width: 72.41%;
    max-width: 470px;
  }

  @include vp-767 {
    width: auto;
    padding: 34px 30px 40px;
  }

  & > p {
    @include font-values(500, 18px, 1.5, $color-text-secondary);
    margin: 0;
    margin-bottom: 28px;

    @include vp-767 {
      line-height: 1.4;
      text-align: center;
    }
  }
}
